table .user{
    color:black;
    background-color:lightblue;
}
table button{

    height:4vh;
    margin-right:2vw;
}
.table-name{
    font-weight:bolder;
}
#dashboard{
    display:flex;
    flex-direction:column;
    align-items:center;
}