table{
    margin-top:5em;
}
table .user{
    color:black;
    background-color:lightblue;
}
table button{

    height:4vh;
    margin-right:2vw;
}
.table-name{
    font-weight:bolder;
}
#dashboard{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#admin-header{
    display:flex;
    flex-direction:column;
}
#admin-button-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}
#admin-header button{
    margin:0 auto;
    width:75px;
    height:80px;
    margin-right:2vw;
    font-weight:bold;
    font-size:15px;
}