#login{
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
}
.form{
  display:flex;
  flex-direction:column;
  width:100%;
  flex-wrap:wrap;
  justify-content:center;
  text-align:center;
  height:100vh;
  margin: 0 auto;
  font-family: "Quicksand", san-serif;
  border: 0.1px solid black;
  
}
.main-text{
  font-size:4.5vh;
}
#signup{
  background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
}
button{
  font-family: "Quicksand", san-serif;
  border-radius: 5.5px;
  color:white;
  cursor:pointer;
}
.form input{
  margin: 1rem auto;
  width: 25vw;
  height: 5vh;
  font-size:2.5vh;
  border-radius:15px;
}
.form button[type="submit"]{
  height: fit-content;
  background-color:forestgreen;
  font-weight:bolder;
  font-size:3vh;
}
.form button[type = "submit"]:hover{
  background-color: darkgreen;
}
.clear{
  background-color:lightcoral;
  border: 0;
}
.clear:hover{
  background-color:crimson;
}
.page{
  display:flex;
  flex-direction:row;
}
.logo{
  display:flex;
  width: 50%;
  height: 100vh;
  justify-content:center;
  align-items:center;
}
.logo h1{
  font-size:9.5vh;
  font-family: "Sora", san-serif
}
.logo h1 .green{
  color: green;
}
.navigate{
  height: fit-content;
  align-self:center;
  width: fit-content;
  border-radius: 10px;
  font-size: 3vh;
  background-color:blanchedalmond;
  border:0;
  color: rgb(55, 55, 88);
  align-self:center;
  margin-top:20vh;
}
@media(max-width:700px){
  .logo{
    display:none;
  }
}
@media(max-width: 575px){
  .form{
    border: 0;
  }
  .navigate-container{
    justify-content:center;
  }
  .navigate{
    width:30vw;
  }
  #signup, #login{
    display:inline;
  }
}