
body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav{
  display:flex;
  position:fixed;
  align-items:end;
  flex-direction:row;
  justify-content:end;
  width:100%;
}
nav div{
  display:flex;
  flex-direction:row;
  gap:1rem;
  margin-right:1rem;
  
}

nav button{
  display:flex;
  width: 70px;
  height:4em;
  background: linear-gradient(135deg, #06b6d4, #3b82f6);
  color: black;
  justify-content:center;
  align-items:center;
}
nav button h3{
font-size: 1.25em;
font-weight:400;
}
#not-found-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 100vh;
}
#not-found-container h1{
  font-size:calc(4vh + 2vw);
  font-family: "Quicksand", san-serif;
  color:black;
  margin-bottom:5vh;
  text-align:center;
}
#circle {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: red;
  justify-content:center;
}
#circle> p{
  color: white;
  font-size: 3vw;
  line-height: 5vw;
  font-weight: bolder;
}
#not-found {
  transition: all 0.3s ease-in-out;
  background-color: lime;
  color: black;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  width: calc(20vw + 7.99999vh);
}
#not-found:hover{
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}
/*stuff for loading page*/
#loading-container{
  display:flex;
  justify-content:center;
  align-items:center;
  align-self:center;
  flex-direction:column;
  height:100vh;
}
#loading-circle{
  width:10vh;
  aspect-ratio:1/1;
  border:6px solid transparent;
  border-top-color:black;
  border-radius:50%;
  animation:spin 2.25s linear infinite;
}

#loading-container h1{
  font-size:6vh;
  font-family: "Quicksand", san-serif;
  color:black;
}
#loading-container h2{
  font-size:3vh;
  font-family: "Manrope", monospace;
  color: gray;
  font-weight:lighter
}
/*settings*/
#settings-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#settings-container h1{
  font-family: "Quicksand", san-serif;
  font-size:4.5vh;
  margin-top:2vh;
  margin-bottom:4vh;
}
#settings-container ul{
  display:flex;
  flex-direction:column;
  list-style-type:none;
  padding:0;
  align-items:center;
}
#settings-container li{
  font-weight:bold;
  margin-top:5vh;
  font-size:3vh;
}
/*media*/
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media(min-height:750px){
  nav button{
    height:5em;
  }
  nav button h3{
    font-size: 1.5em;
}
}
@media(max-height:589px){
  nav button{
    height:3em;
  }
  nav button h3{
    font-size: 1em;
}
}
@media(max-width:600px){
  #loading-circle{
    width:13.5vw;
  }
  #loading-container h1{
    font-size:5vw;
  }
  nav button{
    width: 50px;
    height:3em;
  }
  nav button h3{
    font-size: 1em;
  }
}